.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem; }
  .zmiti-play.rotate {
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite; }

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.zmiti-index-main-ui {
  overflow: hidden;
  width: 10rem;
  left: 50% !important;
  margin-left: -375px;
  background: #f1ebcb;
  opacity: 1;
  z-index: 110; }
  .zmiti-index-main-ui.index-enter-active, .zmiti-index-main-ui.index-leave-active {
    -webkit-transition: 1s;
    transition: 1s; }
  .zmiti-index-main-ui.index-enter, .zmiti-index-main-ui.index-leave-to {
    opacity: 0; }
  .zmiti-index-main-ui .zmiti-cover {
    z-index: 120;
    background: #f6f4d5;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal; }
    .zmiti-index-main-ui .zmiti-cover.hide {
      opacity: 0;
      z-index: -1;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
  .zmiti-index-main-ui .zmiti-entry {
    position: absolute;
    width: 250px;
    height: 70px;
    border-radius: 40px;
    background: #f7f4cb;
    z-index: 100;
    left: 250px;
    bottom: 70px;
    text-align: center;
    line-height: 70px;
    color: #8e6546;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    -webkit-perspective: 800px;
    -webkit-animation: scale 1s linear infinite alternate;
    animation: scale 1s linear infinite alternate; }
    .zmiti-index-main-ui .zmiti-entry.active {
      bottom: 65px; }
      .zmiti-index-main-ui .zmiti-entry.active:before, .zmiti-index-main-ui .zmiti-entry.active:after {
        top: 0; }
    .zmiti-index-main-ui .zmiti-entry:before, .zmiti-index-main-ui .zmiti-entry:after {
      -webkit-transition: 0.1s;
      transition: 0.1s;
      -webkit-transform: translate3d(0, 0, -1px);
      transform: translate3d(0, 0, -1px);
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 40px; }
    .zmiti-index-main-ui .zmiti-entry:before {
      background: #c6bdb6;
      top: 10px;
      z-index: -1; }
    .zmiti-index-main-ui .zmiti-entry:after {
      background: #c28e67;
      top: 5px;
      z-index: -1; }

@-webkit-keyframes rotate1 {
  to {
    -webkit-transform: rotate(360deg) scale(2);
    transform: rotate(360deg) scale(2);
    opacity: 0; } }
.zmiti-loading {
  z-index: 1000; }
  .zmiti-loading .zmiti-loading-ui {
    width: 6rem;
    left: 2rem;
    position: absolute;
    top: 6rem; }
    .zmiti-loading .zmiti-loading-ui .zmiti-loading-bar {
      width: 2rem;
      border-radius: 10px;
      position: relative;
      margin: 0 auto; }
      .zmiti-loading .zmiti-loading-ui .zmiti-loading-bar:before {
        content: '';
        border-radius: 10px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 3px rgba(255, 255, 255, 0.5); }
      .zmiti-loading .zmiti-loading-ui .zmiti-loading-bar .zmiti-target {
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        background: #fff;
        left: 50%;
        top: .4rem;
        position: absolute;
        margin-left: -0.2rem;
        -webkit-animation: scale linear 2s infinite alternate;
        animation: scale linear 2s infinite alternate; }
    .zmiti-loading .zmiti-loading-ui .zmiti-progress {
      margin-top: .5rem;
      text-align: center;
      color: #fff;
      font-family: Georgia;
      font-size: .7rem; }

/*# sourceMappingURL=index.css.map */
